/* main {
  position: relative;
}
 */
.accent_pic {
  /* position: absolute;
  top: 0;
  left: 0; */
  transform: scaleX(-1);
  opacity: 0.2;
  /* z-index: -1; */
}

.erhverv {
  place-self: end;
  margin-top: 40px;
  padding-left: 20px;
}
.erhverv li::marker {
  color: var(--darkgreen3rd);
}

.text {
  background-color: var(--green2nd);
  padding: 10px;
}
.text2 {
  background-color: var(--lightgreen);
  padding: 5px;
}
.skills {
  list-style: none;
}
